version: "3.3"
services:
  shadowsocks:
    container_name: shadowsocks_container
    image: teddysun/shadowsocks-rust
    network_mode: host
    restart: always
    volumes:
      - ./shadowsocks/config.json:/etc/shadowsocks-rust/config.json/:rw
    command: "/usr/bin/ssservice server --log-without-time -c /etc/shadowsocks-rust/config.json"

  
  wireguard:
    image: linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - SERVERPORT=51820
      - PEERS={{ wg_peers_amount }}
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    volumes:
      - ~/configs/wg-configs:/config
